*{
    margin: 0;
    padding: 0;
    font-family: cursive;
}
.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    background: white;
}
nav{
   display: flex;
   width: 84%;
   margin: auto;
   padding: 20px 0;
   align-items: center;
   justify-content: space-between;
}
nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
}
nav ul li a:hover{
    background: black;
    color: white;

    
}
.hero img {
    width: 200px;
    height: 157px;
    border-radius: 50px;
  }
  .gana{
    margin-left: 8%;
    margin-top: 15%;

  }
  .gana h1{
    font-size:50px;
    color:black;
    margin-bottom: 25px;
  }
  .gana p{
    font-size: 20px;
    color: #555;
    line-height: 22px;
  }
  span{
    color :orange;
  }
  .gana a{
    background: black;
    padding: 10px 18px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 30px 0;
    border-radius:10px ;
  }
  .gana a:hover{
    color: blue;
  }
  .image{
    width: 45%;
    height: 80%;
    position: absolute;
    bottom: 0;
    right: 100px;
  }
  .image img{
    height: 100%;
    width: 390px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%);
    transition: bottom;
  }
